# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ULS-FPS.iml
# Datasource local storage ignored files
/../../../../../../:\UNITY\ULS-FPS\.idea\.idea.ULS-FPS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
